test_ing/
.vscode/
test/2.py
test.py
test.py
lesson_6/long.txt
lesson_6/long.txt
lesson_7/Bas_Ddate.txt
lesson_7/Tk_test_list_box.py
lesson_8/Bas_Data.json
lesson_8/old task_1_json__.py
instr.py
lesson_10/for progeckt.txt